:root {
  --color-primary: #2563EB;
  --color-secondary: #6366F1;
  --color-background: #E0E7FF;
  --color-text: #1E293B;
  --color-gradient: linear-gradient(135deg, #2563EB, #6366F1);
  --light-gradient: linear-gradient(180deg, #E0E7FF, #2563EB);
  --light-gradient-inverted: linear-gradient(180deg, #2563EB, #E0E7FF);


  font-family: 'Manrope', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2D9CDB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
